xx.yy { //修改成自己的域名
    root * /var/www //改成自己存放的web文件目录
    file_server
    
    @v2ray_ws { /标签。此标签仅区分，多个代理需要改成不同名称，但要与下边‘reverse_proxy’中标识对应。
        path /HALdGZ9k  //修改成自己的path
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @v2ray_ws 127.0.0.1:2001 //转发给本机v2ray对应端口
}
